// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-address-name: 's-address';
$s-address-x: 54px;
$s-address-y: 0px;
$s-address-offset-x: -54px;
$s-address-offset-y: 0px;
$s-address-width: 19px;
$s-address-height: 29px;
$s-address-total-width: 73px;
$s-address-total-height: 67px;
$s-address-image: 'sprite.png';
$s-address: (54px, 0px, -54px, 0px, 19px, 29px, 73px, 67px, 'sprite.png', 's-address', );
$s-email-name: 's-email';
$s-email-x: 21px;
$s-email-y: 47px;
$s-email-offset-x: -21px;
$s-email-offset-y: -47px;
$s-email-width: 22px;
$s-email-height: 16px;
$s-email-total-width: 73px;
$s-email-total-height: 67px;
$s-email-image: 'sprite.png';
$s-email: (21px, 47px, -21px, -47px, 22px, 16px, 73px, 67px, 'sprite.png', 's-email', );
$s-next-name: 's-next';
$s-next-x: 0px;
$s-next-y: 0px;
$s-next-offset-x: 0px;
$s-next-offset-y: 0px;
$s-next-width: 26px;
$s-next-height: 46px;
$s-next-total-width: 73px;
$s-next-total-height: 67px;
$s-next-image: 'sprite.png';
$s-next: (0px, 0px, 0px, 0px, 26px, 46px, 73px, 67px, 'sprite.png', 's-next', );
$s-phone-name: 's-phone';
$s-phone-x: 54px;
$s-phone-y: 30px;
$s-phone-offset-x: -54px;
$s-phone-offset-y: -30px;
$s-phone-width: 12px;
$s-phone-height: 13px;
$s-phone-total-width: 73px;
$s-phone-total-height: 67px;
$s-phone-image: 'sprite.png';
$s-phone: (54px, 30px, -54px, -30px, 12px, 13px, 73px, 67px, 'sprite.png', 's-phone', );
$s-phone-2-name: 's-phone_2';
$s-phone-2-x: 0px;
$s-phone-2-y: 47px;
$s-phone-2-offset-x: 0px;
$s-phone-2-offset-y: -47px;
$s-phone-2-width: 20px;
$s-phone-2-height: 20px;
$s-phone-2-total-width: 73px;
$s-phone-2-total-height: 67px;
$s-phone-2-image: 'sprite.png';
$s-phone-2: (0px, 47px, 0px, -47px, 20px, 20px, 73px, 67px, 'sprite.png', 's-phone_2', );
$s-prev-name: 's-prev';
$s-prev-x: 27px;
$s-prev-y: 0px;
$s-prev-offset-x: -27px;
$s-prev-offset-y: 0px;
$s-prev-width: 26px;
$s-prev-height: 46px;
$s-prev-total-width: 73px;
$s-prev-total-height: 67px;
$s-prev-image: 'sprite.png';
$s-prev: (27px, 0px, -27px, 0px, 26px, 46px, 73px, 67px, 'sprite.png', 's-prev', );
$spritesheet-width: 73px;
$spritesheet-height: 67px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-address, $s-email, $s-next, $s-phone, $s-phone-2, $s-prev, );
$spritesheet: (73px, 67px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
